.article {
    width: 100%;
    font-size: 1rem;
    @include respond(tab-port) {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }
    &--post {
        font-size: 1.2rem;
        @include respond(tab-port) {
            width: 100%;
            margin: 0 auto;
            padding: 0;
        }
    }
    &__post-title {
        font-size: 1.7em;
    }
    &--box {
        display: flex;
        width: 100%;
        padding: 1rem 0;
    }

    &__info {
        flex: 1 1 70%;
        padding: 0 1rem;
    }
    &__thumbnail {
        width: 100%;

        &--box {
            width: 7rem;
            height: 5rem;
        }
    }
    &__meta {
        font-size: 1.2em;
        @include respond(tab-port) {
            font-size: 1.5em;
        }
        color: var(--color-grey-light-2);
        span:not(:last-child) {
            &::after {
                content: '|';
                margin: 0 0.5rem;
            }
        }
        &--date {
            text-transform: uppercase;
        }
    }
    &__description {
        font-size: 1.4em;
        @include respond(tab-port) {
            font-size: 1.8em;
        }
        color: var(--color-grey-dark-2);
    }
}
