include includes/_head.pug

body
    header 
        include includes/_top-menu.pug
        +top-menu(true)
    main
        include includes/_navigation.pug
        section.banner
            .container
                .breadcrumb
                    a.breadcrumb__link(href="index.html") 
                        | Trang chủ
                    a.breadcrumb__link(href="index.html") 
                        | Sản phẩm
                    a.breadcrumb__link.breadcrumb__link--active(href="index.html") 
                        | Rượu vang đỏ
                img.banner__image.d-block.w-100(src="images/product-list-page/banner.jpg")
        section.container.product-list 
            .product-list__item.product-list__side-bar
                .row
                    .col-sm-5.col-md-12
                        h2.heading-secondary.heading-secondary--small.heading-secondary--pattern-left Danh mục sản phẩm
                        h3.heading-tertiary.heading-tertiary--small Rượu Ngoại
                        .product-list__menu 
                            - for (var x = 0; x < 3; x++)
                                - var list= ['Rượu Chivas(26)','Hàng độc-Rượu đọc đáo(36)','Johnnie Walker(46)','Rượu Whisky(24)','Rượu Reni Martin(16)','Rượu Glenmorangie(11)']
                                    each item in list
                                            a.product-list__link(href="#")= item
                        h3.heading-tertiary.heading-tertiary--small Rượu Vang
                        .product-list__menu 
                            - for (var x = 0; x < 7; x++)
                                a.product-list__link(href="#") Rượu Vang Pháp(26)

                        h2.heading-secondary.heading-secondary--small.heading-secondary--pattern-left So sánh sản phẩm
                        p Bạn chưa có sản phẩm nào để so sánh            
                        h2.heading-secondary.heading-secondary--small.heading-secondary--pattern-left Tag sản phẩm
                        .tag-list 
                            a.tag.tag--active(href="#") Đồng hồ
                            - var list1 =['Túi','Phụ kiện','Giày','Sandal','Áo sơ mi','Nước hoa','Trẻ em','Thời trang nữ']
                                each item in list1
                                    a.tag(href="#")= item
                    .col-sm-7.col-md-12
                        img.product-list__side-bar__image(src="images/product-list-page/product_banner.jpg",alt="banner")           
            .product-list__item.product-list__content
                .product-list__option

                    i.product-list__option__icon.fas.fa-th-list
                    i.product-list__option__icon.fas.fa-list
                    .product-list__option__page-select 
                        i.fas.fa-caret-left
                        each val in [1, 2, 3, 4]
                            a.product-list__link(href="#")= val
                        a.product-list__link.product-list__link--active(href="#") 5
                        i.fas.fa-caret-right
                .product-list__list.product-list__list--default
                     - var list= ["hotproduct_4.png","hotproduct_3.png","hotproduct_4.png","hotproduct_3.png"]
                            each url in list
                                .product
                                    .product-box
                                        .row
                                            .col-md-4
                                                .product-box__image-wrap
                                                    img.product-box__image(src="images/products/" + url, alt="hotdeal")
                                            .col-md-8
                                                h3.heading-tertiary.product-box__title.pt-4 Rượu nho năm 1977
                                                p.number-highlight.my-1  370.000
                                                    sup.number-highlight__sub đ 
            
                                                .product-box__description
                                                    | Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.

                                                .product-box__menu
                                                    button.btn.btn-primary.my-1 add to cart 
                                                    a.product-box__menu-link(href="#") 
                                                        i.fas.fa-heart
                                                        |Yêu thích
                                                    a.product-box__menu-link(href="#") 
                                                        i.fas.fa-chart-bar
                                                        |So sánh
                                    hr                   
                                    
                                    
                            
        
          
    include includes/_footer.pug